@(message: String) @navbarLoggedUser {

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h2>Observations</h2>
			<br />
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of swaggy
						people at Euitio in 2014 is one.</h5>
					<p class="list-group-item-text"><p class="text-right">
				Source</p>
					</p></a> <a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of students who
						passed Javascript test at Euitio in 2015 was two.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a> <a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">Twerk babes at Euitio is
						null.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a> <a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">My cool observation.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">For the real!.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">What happened to Gary Cooper?</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h5 class="list-group-item-heading">The number of winnies at
						Euitio is really high.</h5>
					<p class="list-group-item-text">
					<p class="text-right">Source</p>
					</p>
				</a>
			</div>
          </div>
        </div>
      </div>
}
