@(form: Form[User]) 
@import play.i18n.Messages 
@navbarGuest {
@helper.form(routes.Application.authenticate) {
<div class="col-xs-4 col-md-offset-4">
	<form class="form-signin" role="form">



		<h2 class="form-signin-heading">@Messages.get("greetings")</h2>
		<input type="email" class="form-control" value="@form("email").value" placeholder="@Messages.get(" email")" required
			autofocus name="emailLog"> <input type="password" class="form-control"
			placeholder="@Messages.get(" password")" required name="passLog"> <br>
			@if(form.hasGlobalErrors) {
					<p class="error">@form.globalError.message</p>
			}
		<button class="btn btn-primary " type="submit">@Messages.get("sign")</button>
	</form>

</div>
} 
}
