@(organizations: List[Organization]) @import play.i18n.Messages

@navbarGuest {
<div class="container-fluid">
	<div class="row">

		<div class="col-xs-12 col-md-3" id="DivVoid"></div>
		<div class="col-xs-12 col-md-9" id="orgs">

			<h2>@Messages.get("org")</h2>
			<p>@Messages.get("orgsMsg")</p>
			<div class="list-group" id="organizations">


				@for(org <- organizations){ <a href="#" class="list-group-item"
					data-toggle="modal">
					<h5 class="list-group-item-heading">@org</h5>
				</a> }

			</div>
		</div>
	</div>
</div>
}
